language: php

php:
    - 5.5
    - 5.6
    - 5.6
    - 7.0
    - 7.1

before_script:
    - composer self-update
    - composer install --dev

script:
    - mkdir -p build/logs
    - phpunit --coverage-clover build/logs/clover.xml

after_script:
    - php vendor/bin/coveralls -v

